body, body > * {
    margin: 0;
    padding: 0;
}



aside {
    width: 10px;
    height: 100%;
    background: rgba(125, 125, 125, 0.5);
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 100;
    position: absolute;
    top:0;
}

aside#left-side {
    left: 0;
}

aside#right-side {
    right: 0;
}

aside > button {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

main {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

main > div.content {
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

main > div.content#main {
    display: block;
}

main > div.content > div#main-map {
    width: 100%;
    height: 100%;
}
